{% extends 'stock/stock_home.html' %} {%load static %} {% block title%} Receipt
Out {%endblock title %} {%block imports%}
<script src="{% static 'clinicalservices/clinical_service.js'%}"></script>
{%endblock imports%} {% block content %}
<div class="col-sm-6 mx-auto">
	<div class="card">
		<div class="card-header bg-warning">
			<h3>Receipt Out Form</h3>
		</div>
		<div class="card-body">
			<form action="" method="POST">
				<div
					class="form-group font-weight-bold text-secondary text-capitaliz"
					id="service-group"
				>
					{%csrf_token%} {{form}}

					<button type="submit" class="btn btn-md btn-info form-control">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
