{% extends 'home/home.html' %} {%load static %} {% block title %} Search
{%endblock title %} {% block content %}
<div class="row m-2">
	<div class="col-sm-12 mx-auto">
		<div class="card">
			<div class="card-header bg-dark">
				<h3 class="text-light">Parasite Treatment History</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Cust Name</th>
							<th scope="col">Breed</th>
							<th scope="col">Species</th>
							<th scope="col">prev hist</th>
							<th scope="col">Date</th>
							<th scope="col">DX</th>
							<th scope="col">RX</th>
							<th scope="col">Case Holder</th>
							<th></th>
						</tr>
					</thead>

					{% for hist in parasite_treatment %}

					<tr>
						<td>{{hist.case_number.customer_name}}</td>
						<td>{{hist.breed.breed_name}}</td>
						<td>{{hist.species.species_type}}</td>
						<td>{{hist.history}}</td>
						<td>{{hist.service_date}}</td>
						<td>
							{% for dx in hist.dx.all %} {{dx.disease_name}}<br />
							{%endfor%}
						</td>
						<td>
							{% for pres in parasite_prescription%}
							 {% if hist.id == pres.treatment.id %}
							{{pres.rx.drug_type}}<br />
							{%endif%} {%endfor%}
						</td>
						<td>{{hist.case_holder}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row m-2">
	<div class="col-sm-12 mx-auto">
		<div class="card">
			<div class="card-header bg-dark">
				<h3 class="text-light">Regular Treatment History</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Cust Name</th>
							<th scope="col">Breed</th>
							<th scope="col">Species</th>
							<th scope="col">Date</th>
							<th scope="col">prev hist</th>
							<th scope="col">Clinical finding</th>
							<th scope="col">DX</th>
							<th scope="col">RX</th>
							<th></th>
						</tr>
					</thead>

					{% for hist in regular_treatment %}
					<tr>
						<td>{{hist.treatment_id.case_number.customer_name}}</td>
						<td>{{hist.treatment_id.breed.breed_name}}</td>
						<td>{{hist.treatment_id.species.species_type}}</td>
						<td>{{hist.treatment_id.service_date}}</td>
						<td>{{hist.treatment_id.history}}</td>
						<td>{{hist.clinical_finding}}</td>
						<td>
							{% for dx in hist.dx.all %} {{dx.disease_name}}<br />
							{%endfor%}
						</td>
						<td>
							{% for pres in regular_prescription%}
							 {% if hist.id == pres.treatment.id %}
							{{pres.rx.drug_type}}<br />
							{%endif%} {%endfor%}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row m-2">
	<div class="col-sm-12 mx-auto">
		<div class="card">
			<div class="card-header bg-dark">
				<h3 class="text-light">Vaccination History</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Cust Name</th>
							<th scope="col">Breed</th>
							<th scope="col">Species</th>
							<th scope="col">Date</th>
							<th scope="col">prev hist</th>
							<th scope="col">Vaccine</th>
							<th scope="col">Case Holder</th>
							<th></th>
						</tr>
					</thead>

					{% for hist in vaccination %}
					<tr>
						<td>{{hist.case_number.customer_name}}</td>
						<td>{{hist.breed.breed_name}}</td>
						<td>{{hist.species.species_type}}</td>
						<td>{{hist.service_date}}</td>
						<td>{{hist.history}}</td>
						<td>
							{% for vaccine in hist.vaccine_id.all %} {{vaccine.vaccine_type}}<br />
							{%endfor%}
						</td>
						<td>{{hist.case_holder}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row m-2">
	<div class="col-sm-12 mx-auto">
		<div class="card">
			<div class="card-header bg-dark">
				<h3 class="text-light">AI History</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Cust Name</th>
							<th scope="col">Breed</th>
							<th scope="col">Species</th>
							<th scope="col">Date</th>
							<th scope="col">Last Calving date</th>
							<th scope="col">AI freq.</th>
							<th scope="col">Bull Num.</th>
							<th scope="col">Case Holder</th>
						</tr>
					</thead>

					{% for hist in ai_service %}
					<tr>
						<td>{{hist.case_number.customer_name}}</td>
						<td>{{hist.breed.breed_name}}</td>
						<td>{{hist.species.species_type}}</td>
						<td>{{hist.service_date}}</td>
						<td>{{hist.last_calving_date}}</td>
						<td>{{hist.ai_frequency}}</td>
						<td>{{hist.bull_number}}</td>
						<td>{{hist.case_holder}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
