<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Script and Style imports-->
		{%load static %} {% block imports%} {%endblock imports%}

		<title>{% block title %}{%endblock title%}</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'registernewuser/css/custom_style.css'%}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'home/style.css'%}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'registernewuser/bootstrap-5.0.0/css/bootstrap.css'%}"
		/>
		<script src="{% static 'home/popper.js'%}"></script>
		<script src="{% static 'registernewuser/bootstrap-5.0.0/js/bootstrap.js'%}"></script>
	</head>
	<body id="body">
		{%include 'home/navbar.html'%}
		<div class="container">
			<div class="row m-2">{% block content %} {% endblock content %}</div>
		</div>
	</body>
</html>
