<style>
	.navbar-brand {
		font-family: monospace;
	}
</style>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<img
		src="{% static 'home/cattle_logo_2.png' %}"
		width="80"
		height="80"
		class="d-inline-block align-top navbar-brand"
		alt=""
	/>
	<h1 class="navbar-brand text-light">SmartVet</h1>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar">
			<a class="nav-link" href="{% url 'registernewuser:index'%}">
				<button class="btn btn-sm btn-primary">Registration</button></a
			>
			<div class="dropdown nav-link">
				<button
					type="button"
					class="btn-sm btn-primary dropdown-toggle"
					data-bs-toggle="dropdown"
				>
					Treatments
				</button>
				<ul class="dropdown-menu">
					<li>
						<a
							class="dropdown-item text-primary"
							href="{% url 'regulartreatedanimals:index'%}"
						>
							Regular Treatment
						</a>
					</li>
					<li>
						<a
							class="dropdown-item text-primary"
							href="{%url 'parasitetreatment:index'%}"
						>
							Parasite Treatment
						</a>
					</li>
				</ul>
			</div>
			<div class="dropdown nav-link">
				<button
					type="button"
					class="btn-sm btn-primary dropdown-toggle"
					data-bs-toggle="dropdown"
				>
					Others
				</button>
				<ul class="dropdown-menu">
					<li>
						<a
							class="dropdown-item text-primary"
							href="{% url 'clinicalservices:index'%}"
						>
							Clinical Service
						</a>
					</li>
					<li>
						<a
							class="dropdown-item text-primary"
							href="{%url 'vaccination:index'%}"
							>Vaccination</a
						>
					</li>
					<li>
						<a
							class="dropdown-item text-primary"
							href="{%url 'abattoir_exam:index'%}"
							>Abattoir</a
						>
					</li>
				</ul>
			</div>
			<form
				action="{% url 'search:search' %}"
				method="post"
				class="form-inline"
			>
				{% csrf_token %}
				<input
					type="number"
					name="search_case_number"
					placeholder="Case Number"
				/>
				<button type="submit" class="btn btn-sm btn-outline-success">
					Search
				</button>
			</form>
		</div>
	</div>
	<span id="username" class="m2 text-md text-light"
		>Hello, {{request.user}}</span
	>
	<span id="logout">
		<a href="{% url 'home:logout' %}">
			<button class="btn btn-sm btn-warning m-2">Log out</button>
		</a>
	</span>
</nav>
