<style>
  #username {
    color: white;
    font-size: large;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h2>Smart Vet</h2></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="{% url 'registernewuser:index'%}"
        >Registration <span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="{% url 'regulartreatedanimals:index'%}"
        >Treatment</a
      >
      <a class="nav-link" href="{% url 'clinicalservices:index'%}"
        >Clinical Service</a
      >
      <a
        class="nav-link"
        href="{%url 'vaccineandparasite:index'%}"
        tabindex="-1"
        aria-disabled="true"
        >Vaccination and Parasite Treatment</a
      >
    </div>
  </div>
  <span id="username" class="m2">Hello, {{request.user}}</span>
  <span id="logout">
    <a href="{% url 'home:logout' %}">
      <button class="btn btn-md btn-warning m-2">Logout</button>
    </a>
  </span>
</nav>
