<style>
	.navbar-brand {
		font-family: monospace;
	}
</style>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<img
		src="{% static 'home/cattle_logo_2.png' %}"
		width="80"
		height="80"
		class="d-inline-block align-top navbar-brand"
		alt=""
	/>
	<h1 class="navbar-brand text-light">SmartVet</h1>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link active" href="{% url 'registernewuser:index'%}">
				<button class="btn btn-sm btn-secondary">Registration</button></a
			>
			<a class="nav-link" href="{% url 'regulartreatedanimals:index'%}">
				<button class="btn btn-sm btn-danger">Treatment</button></a
			>

			<a class="nav-link" href="{% url 'clinicalservices:index'%}">
				<button class="btn btn-sm btn-warning">Clinical Service</button></a
			>
			<a
				class="nav-link"
				href="{%url 'parasitetreatment:index'%}"
				tabindex="-1"
				aria-disabled="true"
				><button class="btn btn-sm btn-light">Parasite Treatment</button></a
			>
			<a
				class="nav-link"
				href="{%url 'vaccination:index'%}"
				tabindex="-1"
				aria-disabled="true"
				><button class="btn btn-sm btn-primary">Vaccination</button></a
			>
			<div class="dropdown nav-link">
				<button
					type="button"
					class="btn-sm btn-primary dropdown-toggle"
					data-bs-toggle="dropdown"
				>
					Stock
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{%url 'drug_in_out:drugin'%}"
							>Drug In</a
						>
					</li>
					<li>
						<a class="dropdown-item" href="{%url 'drug_in_out:drugout'%}"
							>Drug Out</a
						>
					</li>
					<li>
						<a
							class="dropdown-item"
							href="{%url 'equipment_in_out:equipmentin'%}"
							>Equipment In</a
						>
					</li>
					<li>
						<a
							class="dropdown-item"
							href="{%url 'equipment_in_out:equipmentout'%}"
							>Equipment Out</a
						>
					</li>
					<li>
						<a class="dropdown-item" href="{%url 'vaccine_in_out:vaccinein'%}"
							>Vaccine In</a
						>
					</li>
					<li>
						<a class="dropdown-item" href="{%url 'vaccine_in_out:vaccineout'%}"
							>Vaccine Out</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<span id="username" class="m2 text-md text-light"
		>Hello, {{request.user}}</span
	>
	<span id="logout">
		<a href="{% url 'home:logout' %}">
			<button class="btn btn-sm btn-warning m-2">Log out</button>
		</a>
	</span>
</nav>
