{%extends 'home/home.html' %} {%block title%}Sign Up{%endblock title%} 
{%block imports%}{%endblock imports%}
 {% block content %}

 <div class="col-sm">
   <div class="card">
     <div class="card-header">
      <h1 class="text-dark">Sign up</h1>
     </div>
     <div class="card-body">
      <form action="" method="post">
        {%csrf_token%} 
        {{form.as_p}}
        <button class="btn btn-md btn-primary" type="submit">Sign Up</button>
      </form>
     </div>
   </div>
 
 </div>

    

{% endblock content %}
