<!DOCTYPE html>
<html lang="en">
	{%load static%}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Script and Style imports-->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'home/style.css'%}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'registernewuser/css/custom_style.css'%}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'registernewuser/bootstrap-5.0.0/css/bootstrap.css'%}"
		/>
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>

		<script src="{% static 'registernewuser/bootstrap-5.0.0/js/bootstrap.js'%}"></script>
		<title>Login</title>
	</head>
	<body id="body">
		<div class="container">
			<div class="row m-2">
				<div class="col-sm-6 mx-auto">
					<div class="col-sm">
						<div class="card">
							<div class="card-header">
								<h1 class="text-primary">Sign Up</h1>
							</div>
							<div class="card-body bg-light">
								<form action="" method="post">
									{%csrf_token%} {{form.as_p}}{{role_form.as_p}}
									<button class="btn btn-md btn-primary" type="submit">
										Sign Up
									</button>
								</form>
								<span
									>Already have an account?
									<a href="{%url 'home:login'%}">Login</a></span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
