{% extends 'registernewuser/home.html' %} {%load static %} 
{% block title%}Clinical Service{% endblock title %} {% block content %}
<div class="col-sm-6 mx-auto">
  <div class="card">
    <div class="card-header bg-warning">
      <h3>Clinical and AI Service</h3>
    </div>
    <div class="card-body">
      <div class="form-group font-weight-bold text-secondary text-capitalize">
        <form action="" method="POST">
          <div class="form-group" id="case-number-container">
            {%csrf_token%}
            {{form}}
            <br>
            <button type="submit" class="btn btn-sm btn-info">Ok</button>
          </div> 
          <h3 class="text-info">Add Services'</h3>
          <hr>         
          <div class="form-group" id="service_form">
            {{service_form}}
          </div>          
          <br>
          <span class="form-group">
            <input type="button" value="Add" class="btn btn-sm btn-success">
            <hr>          
            <input
              type="submit"
              value="Save Services"
              class="btn btn-md btn-primary form-control"
            />
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
