<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Script and Style imports-->
    {%load static %} {% block imports%} {%endblock imports%}

    <title>{% block title %}{%endblock title%}</title>
	<script src="{% static 'cashier/script.js' %}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'registernewuser/css/custom_style.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'home/style.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'registernewuser/bootstrap-5.0.0/css/bootstrap.css'%}"
    />
   
  </head>
  <body id="body">
    <style>
		#body{
			font-family: monospace;
			font-size:medium;
		}
		.navbar-brand{
		  font-family: monospace;
		}
		#username {
		  color:coral;
		  font-size: larger;
		  font-family: Open Sans;
		  font-weight: bold;
		}
	  </style>
	  
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="{% static 'home/cattle_logo_2.png' %}" width="80" height="80" class="d-inline-block align-top navbar-brand" alt="">
    	<h1 class="navbar-brand text-light">Lab Portal</h1>
	
		<span id="username" class="m2">Hello, {{request.user}}</span>
		<span id="logout">
		  <a href="{% url 'home:logout' %}">
			<button class="btn btn-sm btn-warning m-2">Log out</button>
		  </a>
		</span>
	  </nav>
	  
<div class="container">
{% if form %}
<div class="row m-2">
	<div class="col-sm-8 mx-auto">
		<div class="card">
			<div class="card-header bg-dark">
				<h3 class="text-light">Lab Result</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<form method="post" action="{% url 'lab_exam:submit_result' %}">
						{% csrf_token %} {{form}}
						<input
							class="btn btn-sm btn-success"
							type="submit"
							value="Submit Result"
						/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}