.body {
  background-color: brown;
}
.errorlist {
  font-family: monospace;
  font-weight: bold;
  color: crimson;
  font-size: medium;
}

h3 {
  font-family: monospace;
  font-size: x-large;
  color: rgb(1, 97, 25);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
#body {
  background-color: blanchedalmond;
}

.card-header-font {
  color: rgb(36, 53, 8);
}
label {
  font-family: monospace;
  color: rgb(121, 32, 0);
}
.avatar {
  background-color: wheat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.navigator {
  background-color: red;
}
