.body {
  background-color: brown;
}
.errorlist {
  font-family: monospace;
  font-weight: bold;
  color: crimson;
  font-size: medium;
}

h3 {
  font-family: monospace;
  font-size: x-large;
  color: rgb(1, 97, 25);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
#body {
  background-color: blanchedalmond;
}
.card-body-bg {
  background-color: rgb(198, 203, 255);
}
.card-header-font {
  color: rgb(36, 53, 8);
}
label {
  font-family: monospace;
  color: rgb(121, 32, 0);
}
