{% extends 'home/home.html' %} {%load static %}  {% block title %}Abattoir{% endblock title %}
{% block content %}
<div class="col-sm-8 mx-auto">
  <div class="card ">
    <div class="card-header bg-dark">
       Abattoir
    </div>
    <div class="card-body">
      <div class="form-group font-weight-bold text-secondary text-capitalize">
        <form action="" method="POST">
          {% csrf_token %} 
          {{form}}
          <input
            type="submit"
            value="Submit"
            class="btn btn-md btn-primary form-control"
          />
        </form>
        <span class"form-control">
          <i class="text-success">
            {% for message in messages%}
              {{message}}
            {% endfor %}
            </i>
        </span>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
