{% extends 'home/home.html' %} {%load static %} {%block title%}Parasite Treatment{%endblock title%} {%block imports%}
<script src="{% static 'regulartreatedanimals/js/script_regular.js'%}"></script>
{%endblock imports%} {%block content%}
<div class="col col-md-6">
	<div class="card">
		<div class="card-header bg-dark">
			Parasite Treatment
		</div>
		<div class="card-body">
			<div class="form-group">
				<form action="" method="POST">
					{%csrf_token%} {{form}}
					<input
						type="submit"
						value="Submit"
						class="btn btn-primary form-control mt-2"
					/>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="col col-md-6">
	<div class="card">
		<div class="card-header bg-dark">
			Drug Prescription
		</div>
		<div class="card-body">
			<form action="prescribe" method="POST">
				<div class="form-group" id="prescription-group">
					{%csrf_token%} {{rx_formset.management_form}}
					<!-- <div class="form-group"> -->
					{% for form in rx_formset %}
					<div class="card-header bg-light rx-form">{{form}}</div>
					<hr />
					{%endfor%}
					<input
						type="button"
						class="btn btn-success btn-md mt-2"
						id="add"
						value="Add"
					/>
					<hr class="my-4" />
					<input
						type="submit"
						class="btn btn-md btn-primary form-control"
						id="prescribe"
						value="Prescribe"
					/>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock content%}
