<!--prettier-ignore-->
{% extends 'dashboard/main.html' %}
{% load static %} {% block title %} Dashboard {%endblock title %}
{% block navstyle %}
<style>
	#sidebar-abattoir-exam-summary {
		background-color: tomato;
		color: white;
	}
</style>
{% endblock navstyle %} {% block customImport%}
<script src="{% static 'dashboard/pt_dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->

<div class="row m-2">
	<form action="" method="POST">
		{%csrf_token%} {{dateForm}}{{hotelForm}}
		<input type="submit" value="Filter" class="btn btn-sm btn-primary" />
	</form>
</div>
<hr />
<div class="row overflow-auto m-2" id="summary">
	<div class="col-md-12 card">
		<table class="table table-striped">
			<thead>
				<tr class="table-dark">
					<th scope="col">Hotel</th>
					<th scope="col">Species</th>
					<th scope="col">Sex</th>
					<th scope="col">Origin</th>
					<th scope="col">Color</th>
					<th scope="col">T0</th>
					<th scope="col">PR</th>
					<th scope="col">RR</th>
					<th scope="col">Result</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			{% for row in abattoir_exam %}
			<tr>
				<td>{{row.hotel.hotel_name}}</td>
				<td>{{row.species.species_type}}</td>
				<td>{{row.sex}}</td>
				<td>{{row.origin.origin}}</td>
				<td>{{row.body_weight}}</td>
				<td>{{row.t0}}</td>
				<td>{{row.pr}}</td>
				<td>{{row.rr}}</td>
				<td>{{row.result}}</td>
				<td>{{row.date}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="row overflow-auto m-2" id="summary-additional">
	<div class="col-md-4 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Total</h5>
			</div>
			<div class="card-body">
				<p class="card-text">{{total}}</p>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>
