<!--prettier-ignore-->
{% extends 'dashboard/main.html' %} {% load static %} 
{% block title %}
Dashboard 
{%endblock title %} 
{% block customImport %}
<script src="{% static 'dashboard/dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->
<div class="row m-2 fluid">
	<div class="col-md-12">
		<canvas
			class="chart_canvas card"
			id="cntx_disease"
			width="50"
			height="50"
		></canvas>
	</div>
</div>

<div class="row m-2">
	<div class="col-md-4">
		<canvas
			class="chart_canvas card"
			id="cntx_services"
			width="50"
			height="50"
		></canvas>
	</div>
	<div class="col-md-4">
		<canvas
			class="chart_canvas card"
			id="cntx_species"
			width="100"
			height="100"
		>
		</canvas>
	</div>
	<div class="col-md-4">
		<canvas class="chart_canvas card" id="cntx_kebele" width="100" height="100">
		</canvas>
	</div>
</div>
{% endblock content %}
