<!--prettier-ignore-->
{% extends 'dashboard/main.html' %} {% load static %} 
{% block title %}
Dashboard 
{%endblock title %} 
{% block customImport %}
<script src="{% static 'dashboard/dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->
<div class="row m-2 fluid">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header bg-dark">
				Disease Prevalence
			</div>
			<canvas
				class="chart_canvas card"
				id="cntx_disease"
				width="50"
				height="50"
			></canvas>
		</div>
	</div>
</div>

<div class="row m-2">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-dark">
				Clinical Service Dist.
			</div>
			<canvas
				class="chart_canvas card"
				id="cntx_services"
				width="50"
				height="50"
			></canvas>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-dark">
				Animal Species Dist.
			</div>
			<canvas
				class="chart_canvas card"
				id="cntx_species"
				width="100"
				height="100"
			></canvas>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-dark">
				Kebele Dist.
			</div>
			<canvas class="chart_canvas card" id="cntx_kebele" width="100" height="100"></canvas>
		</div>
	</div>
</div>
{% endblock content %}
