<!--prettier-ignore-->
{% extends 'dashboard/main.html' %}
{% load static %} {% block title %} Dashboard {%endblock title %}
{% block navstyle %}
<style>
	#sidebar-equipmentout-summary {
		background-color: tomato;
		color: white;
	}
</style>
{% endblock navstyle %} {% block customImport%}
<script src="{% static 'dashboard/pt_dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->

<div class="row m-2">
	<form action="" method="POST">
		{%csrf_token%} {{dateForm}}{{equipment_typeForm}}{{equipment_receiverForm}}
		<input type="submit" value="Filter" class="btn btn-sm btn-primary" />
	</form>
</div>
<hr />
<div class="row overflow-auto m-2" id="summary">
	<div class="col-md-12 card">
		<table class="table table-striped">
			<thead>
				<tr class="table-dark">
					<th scope="col">Equipment</th>
					<th scope="col">Destination</th>
					<th scope="col">Receiver</th>
					<th scope="col">Quantity</th>
					<th scope="col">Batch No.</th>
					<th scope="col">Date</th>
					<th scope="col">Approved by</th>
				</tr>
			</thead>
			{% for row in out_equipments %}
			<tr>
				<td>{{row.equipment.name}}</td>
				<td>{{row.destination}}</td>
				<td>{{row.receiver}}</td>
				<td>{{row.quantity}}</td>
				<td>{{row.batch_number}}</td>
				<td>{{row.date}}</td>
				<td>{{row.approved_by}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="row overflow-auto m-2" id="summary-additional">
	<div class="col-md-2 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Total Quantity</h5>
			</div>
			<div class="card-body">
				<p class="card-text">{{total_quantity}}</p>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>
