<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Script and Style imports-->
		{%load static %} {% block imports%} {%endblock imports%}

		<title>{% block title %}{%endblock title%}</title>
		{%block navstyle %}{% endblock navstyle%}
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'dashboard/style.css'%}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'registernewuser/bootstrap-5.0.0/css/bootstrap.css'%}"
		/>
		<script src="{% static 'registernewuser/bootstrap-5.0.0/js/bootstrap.js'%}"></script>
		{% block customImport %}{% endblock customImport %}

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
			integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="{% static 'dashboard/dashboard_nav.js'%}"></script>
	</head>
	<body id="body">
		{%include 'dashboard/navbar.html'%}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">{%include 'dashboard/sidebar.html'%}</div>
				<div class="col-md-10">{% block content %} {% endblock content %}</div>
			</div>
		</div>
	</body>
</html>
