<style>
    .navbar-brand{
      font-family: monospace;
    }
</style>
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="{% static 'home/cattle_logo_2.png' %}" width="40" height="40" class="d-inline-block align-top navbar-brand" alt="">
      <a href="{%url 'dashboard:index'%}""><h1 class="navbar-brand text-light btn" id="dashboard-home">Dashboard</h1></a>
    
    </div>
    <span id="username" class="m2 text-md text-light">Hello, {{request.user}}</span>
    <span id="logout">
      <a href="{% url 'home:logout' %}">
        <button class="btn btn-sm btn-warning m-2">Log out</button>
      </a>
    </span>
  </nav>
  