{% load static %}
<div id="sidebar-wrapper">
	<ul class="list-group m-0 p-0">
		<a
			href="{% url 'dashboard:regular_treatment_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-regular-treatment-summary"
		>
			Regular Treatment
		</a>
		<a
			href="{% url 'dashboard:clinical_service_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-clinical-service-summary"
			>Clinical Service</a
		>
		<a
			href="{% url 'dashboard:parasite_treatment_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-parasite-treatment-summary"
			>Parasite Treatment</a
		>
		<a
			href="{% url 'dashboard:vaccination_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-vaccination-summary"
			>Vaccination</a
		>
		<a
			href="{% url 'dashboard:abattoir_exam_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-abattoir-exam-summary"
			>Abattoir Exam</a
		>
		<a
			href="{% url 'dashboard:artificial_insemination_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-ai-summary"
			>Artificial Insemination</a
		>
		<a
			href="{% url 'dashboard:lab_exam_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-lab-exam-summary"
			>Lab Exam</a
		>
		<a
			href="{% url 'dashboard:drug_in_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-drugin-summary"
			>Drug In</a
		>
		<a
			href="{% url 'dashboard:drug_out_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-drugout-summary"
			>Drug Out</a
		>
		<a
			href="{% url 'dashboard:equipment_in_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-equipmentin-summary"
			>Equipment In</a
		>
		<a
			href="{% url 'dashboard:equipment_out_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-equipmentout-summary"
			>Equipment Out</a
		>
		<a
			href="{% url 'dashboard:vaccine_in_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-vaccinein-summary"
			>Vaccine In</a
		>
		<a
			href="{% url 'dashboard:vaccine_out_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-vaccineout-summary"
			>Vaccine Out</a
		>
		<a
			href="{% url 'dashboard:receipt_in_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-receiptin-summary"
			>Receipt In</a
		>
		<a
			href="{% url 'dashboard:receipt_out_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-receiptout-summary"
			>Receipt Out</a
		>
		<a
			href="{% url 'dashboard:stock_summary' %}"
			class="list-group-item mb-2"
			id="sidebar-stock-summary"
			>Stock</a
		>
	</ul>
</div>
<!-- /#wrapper -->
