{% load static %}
<div id="sidebar-wrapper">
	<ul class="list-group m-0 p-0">
		<a
			href="{% url 'dashboard:regular_treatment_summary' %}"
			class="list-group-item mb-5"
			id="sidebar-regular-treatment-summary"
		>
			Regular Treatment
		</a>
		<a
			href="{% url 'dashboard:clinical_service_summary' %}"
			class="list-group-item mb-5"
			id="sidebar-clinical-service-summary"
			>Clinical Service</a
		>
		<a
			href="{% url 'dashboard:parasite_treatment_summary' %}"
			class="list-group-item mb-5"
			id="sidebar-parasite-treatment-summary"
			>Parasite Treatment</a
		>
		<a
			href="{% url 'dashboard:vaccination_summary' %}"
			class="list-group-item mb-5"
			id="sidebar-vaccination-summary"
			>Vaccination</a
		>
		<a
			href="{% url 'dashboard:artificial_insemination_summary' %}"
			class="list-group-item mb-5"
			id="sidebar-ai-summary"
			>Artificial Insemination</a
		>
	</ul>
</div>
<!-- /#wrapper -->
