<!--prettier-ignore-->
{% extends 'dashboard/main.html' %}
{% load static %} {% block title %} Dashboard {%endblock title %}
{% block navstyle %}
<style>
	#sidebar-vaccineout-summary {
		background-color: chartreuse;
		color: tomato;
	}
</style>
{% endblock navstyle %} {% block customImport%}
<script src="{% static 'dashboard/pt_dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->

<div class="row m-2">
	<form action="" method="POST">
		{%csrf_token%} {{dateForm}}{{vaccine_typeForm}}{{vaccine_receiverForm}}
		<input type="submit" value="Filter" class="btn btn-sm btn-primary" />
	</form>
</div>
<hr />
<div class="row overflow-auto m-2" id="summary">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr class="table-dark">
					<th scope="col">Vaccine</th>
					<th scope="col">Destination</th>
					<th scope="col">Kebele</th>
					<th scope="col">Unit Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total</th>
					<th scope="col">Batch No.</th>
					<th scope="col">Batch No.</th>
					<th scope="col">Approved by</th>
				</tr>
			</thead>
			{% for row in out_vaccines %}
			<tr>
				<td>{{row.vaccine.vaccine_type}}</td>
				<td>{{row.destination}}</td>
				<td>{{row.kebele}}</td>
				<td>{{row.vaccine.stock_price}}</td>
				<td>{{row.quantity}}</td>
				<td>{{row.total}}</td>
				<td>{{row.batch_number}}</td>
				<td>{{row.date}}</td>
				<td>{{row.approved_by}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="row overflow-auto m-2" id="summary-additional">
	<div class="col-md-2 col-sm-12">
		<div class="card">
			<div class="card-header bg-dark">
				Total Amount
			</div>
			<div class="card-body">
				<p class="card-text">{{total_price}} Birr</p>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="card">
			<div class="card-header bg-dark">
				Deposited/Remaining
			</div>
			<div class="card-body">
				<p class="card-text">{{total_deposit}}/{{remaining_cash}} Birr</p>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-12">
		<div class="card">
			<div class="card-header bg-dark">
				Audit
			</div>
			<div class="card-body">
				<table class="table table-striped m-2">
					<thead>
						<tr class="table-dark">
							<th scope="col">Vaccine Id</th>
							<th scope="col">Batch No.</th>
							<th scope="col">Kebele</th>
							<th scope="col">Date</th>
							<th scope="col">Bank Slip No.</th>
							<th scope="col">Deposited Amount</th>
							<th scope="col">Remaining</th>
							<th scope="col">Confirmed by.</th>
						</tr>
					</thead>
					{% for vaccine_deposit in vaccine_cash_deposit %}
					<tr>
						<td>{{vaccine_deposit.payment_for.vaccine}}</td>
						<td>{{vaccine_deposit.payment_for.batch_number}}</td>
						<td>{{vaccine_deposit.payment_for.receiver}}</td>
						<td>{{vaccine_deposit.date_paid}}</td>
						<td>{{vaccine_deposit.bank_slip_number}}</td>
						<td>{{vaccine_deposit.amount}}</td>
						<td>{{vaccine_deposit.remaining_amount}}</td>
						<td>{{vaccine_deposit.confirmed_by}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>
