<!--prettier-ignore-->
{% extends 'dashboard/main.html' %}
{% load static %} {% block title %} Dashboard {%endblock title %}
{% block navstyle %}
<style>
	#sidebar-vaccinein-summary {
		background-color: tomato;
		color: white;
	}
</style>
{% endblock navstyle %} {% block customImport%}
<script src="{% static 'dashboard/pt_dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->

<div class="row m-2">
	<form action="" method="POST">
		{%csrf_token%} {{dateForm}}{{vaccine_typeForm}}{{vaccine_sourceForm}}
		<input type="submit" value="Filter" class="btn btn-sm btn-primary" />
	</form>
</div>
<hr />
<div class="row overflow-auto m-2" id="summary">
	<div class="col-md-12 card">
		<table class="table table-striped">
			<thead>
				<tr class="table-dark">
					<th scope="col">Vaccine</th>
					<th scope="col">Source</th>
					<th scope="col">Quantity</th>
					<th scope="col">Unit Price</th>
					<th scope="col">Total</th>
					<th scope="col">Batch No.</th>
					<th scope="col">In.date</th>
					<th scope="col">Exp.date</th>
				</tr>
			</thead>
			{% for row in in_vaccines %}
			<tr>
				<td>{{row.vaccine.vaccine_type}}</td>
				<td>{{row.source}}</td>
				<td>{{row.quantity}}</td>
				<td>{{row.unit_price}}</td>
				<td>{{row.total}}</td>
				<td>{{row.batch_number}}</td>
				<td>{{row.date}}</td>
				<td>{{row.expiration_data}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="row overflow-auto m-2" id="summary-additional">
	<div class="col-md-4 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Total Amount</h5>
			</div>
			<div class="card-body">
				<p class="card-text">{{total_price}} Birr</p>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Expired/ring vaccines</h5>
			</div>
			<div class="card-body">
				<table class="table table-striped m-2">
					<thead>
						<tr class="table-dark">
							<th scope="col">Drug</th>
							<th scope="col">Batch No.</th>
							<th scope="col">In date</th>
							<th scope="col">Remaining days</th>
						</tr>
					</thead>
					{% for key,value in expiringVaccines.items %}
					<tr>
						<td>{{key.vaccine}}</td>
						<td>{{key.batch_number}}</td>
						<td>{{key.date_received}}</td>
						<td>{{value}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>
