<!--prettier-ignore-->
{% extends 'dashboard/main.html' %}
{% load static %} {% block title %} Dashboard {%endblock title %}
{% block navstyle %}
<style>
	#sidebar-vaccination-summary {
		background-color: chartreuse;
		color: tomato;
	}
</style>
{% endblock navstyle %} {% block customImport%}
<script src="{% static 'dashboard/v_dashboard.js'%}"></script>
{% endblock customImport %} {% block content %}
<!-- prettier-ignore-attribute -->

<div class="row m-2">
	<form action="" method="POST">
		{%csrf_token%} {{dateForm}}{{case_holder_form}}
		<input type="submit" value="Filter" class="btn btn-sm btn-primary" />
	</form>
</div>
<hr />
<div class="row overflow-auto m-2" id="summary">
	<div class="col-md-10">
		<table class="table table-striped">
			<thead>
				<tr class="table-dark">
					<th scope="col">Cust Name</th>
					<th scope="col">Vaccination type</th>
					<th scope="col">Breed</th>
					<th scope="col">Batch Num.</th>
					<th scope="col">Qnty</th>
					<th scope="col">Case Holder</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			{% for row in vaccinationObj %}
			<tr>
				<td>{{row.case_number.customer_name}}</td>
				<td>
					<!--prettier-ignore-->
					{%for vaccine in row.vaccine_id.all%}
                    {{vaccine.vaccine_type}}<br>
                    {%endfor%}
				</td>
				<td>
					<!--prettier-ignore-->
					{%for species in row.species.all%}
                    {{species.species_type}}<br>
                    {%endfor%}
				</td>
				<td>{{row.vaccine_batch_num}}</td>
				<td>{{row.quantity}}</td>
				<td>{{row.case_holder}}</td>
				<td>{{row.service_date}}</td>
				<!-- prettier-ignore-attribute -->
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-2 col-sm-12">
		<div class="card">
			<div class="card-header bg-dark">
				Total $
			</div>
			<div class="card-body">
				<p class="card-text">{{totalPrice}} Birr</p>
			</div>
			<div class="card-footer">
				<p class="card-text text-primary">
					No. of Treatments:{{totalVaccinations}}
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row overflow-auto m-2" id="summary-additional">
	<div class="col-md-6 col-sm-12">
		<canvas class="chart_canvas card" id="cntx_vaccination"></canvas>
	</div>

	<div class="col-md-6 col-sm-12">
		<div class="card">
			<div class="card-header bg-dark">
				Kebele Distribution
			</div>
			<div class="card-body">
				<table class="table table-striped m-2">
					{% for key,value in distByKebele.items %}
					<tr>
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>
