{% extends 'home/home.html' %} {%load static %} {%block title%}Regular Treated
Animals{%endblock title%} {%block imports%}
<script src="{% static 'regulartreatedanimals/js/script_regular.js'%}"></script>
{%endblock imports%} {%block content%}
<div class="row overflow-auto m-2">
	<div class="col-sm-12 mx-auto">
		<div class="card">
			<div class="card-header bg-secondary">
				Lab Results
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Cust Name</th>
							<th scope="col">Lab Sample</th>
							<th scope="col">lab Technique</th>
							<th scope="col">lab Result</th>
							<th></th>
						</tr>
					</thead>
					{% for results in lab_results %}
					<form method="post" action={% url 'regulartreatedanimals:lab_result' results.id %}>
						{% csrf_token %}
						<tr>
							<td>
								{{results.lab_exam_request.treated_animal.case_number.customer_name}}
							</td>
							<td>{{results.lab_exam_request.lab_sample.lab_sample}}</td>
							<td>{{results.lab_exam_request.lab_technique.lab_technique}}</td>
							<td>{{results.lab_result}}</td>
							<td>
								<input
									class="btn btn-sm btn-success"
									type="submit"
									value="Treatment"
								/>
							</td>
						</tr>
					</form>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row overflow-auto m-2">	
	<div class="col col-md-4">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header bg-warning">
						Treated Animals
					</div>
					<div class="card-body">
						<div class="form-group">
							<form
								action="{% url 'regulartreatedanimals:index' %}"
								method="POST"
							>
								{%csrf_token%} {{treated_animals_form}}
								<input
									type="submit"
									value="Submit"
									class="btn btn-primary form-control mt-2"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header bg-warning">
						Request Lab Exam
					</div>
					<div class="card-body">
						<div class="form-group">
							<form
								action="{% url 'regulartreatedanimals:labrequest' %}"
								method="POST"
							>
								{%csrf_token%} {{lab_exam_request_form}}
								<input
									type="submit"
									value="Request"
									class="btn btn-primary form-control mt-2"
								/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-4">
		<div class="card">
			<div class="card-header bg-warning">
				Treatment
			</div>
			<div class="card-body">
				<div class="form-group">
					<form action="{% url 'regulartreatedanimals:treatment' %}" method="POST">
						{%csrf_token%} {{treatment_form}}
						<input
							type="submit"
							value="Submit"
							class="btn btn-primary form-control mt-2"
						/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-4">
		<div class="card">
			<div class="card-header bg-warning">
				Drug Prescription
			</div>
			<div class="card-body">
				<form
					action="{% url 'regulartreatedanimals:prescribe' %}"
					method="POST"
				>
					<div class="form-group" id="prescription-group">
						{%csrf_token%} {{rx_formset.management_form}}
						<!--prettier-ignore-->
						{% for form in rx_formset %}
						<div class="card-header bg-light rx-form">{{form}}</div>
						<hr />
						{%endfor%}
						<!-- prettier-ignore-attribute -->
						<input
							type="button"
							class="btn btn-success btn-md mt-2"
							id="add"
							value="Add"
						/>
						<hr class="my-4" />
						<input
							type="submit"
							class="btn btn-md btn-primary form-control"
							id="prescribe"
							value="Prescribe"
						/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
