#body {
	background-color: rgb(228, 228, 228);
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: medium;
	height: 100%;
	width: 100%;
}
#sidebar-wrapper {
	padding: 0px;
	margin-top: 5px;
	width: fit-content;
	font-family: monospace;
	height: wrap-content;
	background-color: darkgrey;
}
#summary {
	height: 40vh;
}
#summary-additional {
	height: 60vh;
}
thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}
/* #cntx_disease {
	height: 40vh;
} */
a:hover {
	font-style: italic;
	color:chartreuse;
}

.chart_canvas {
	box-shadow: 0 0 10px #000;
	border-radius: 5%;
}
.card {
	height: fit-content;
}
.card-body {
	text-align: center;
	font-size: 0.7rem;
	font-family: monospace;
}
.card-header {
	font-size: medium;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	color: chartreuse;
}
.card-footer {
	text-align: center;
	font-size: 0.7rem;
	font-family: monospace;
}
.card-title {
	font-size: 0.7rem;
	font-family: monospace;
	text-align: center;
}
