{% extends 'stock/stock_home.html' %} {%load static %} {% block title%} Drug Out
{%endblock title %} {%block imports%}
<script src="{% static 'clinicalservices/clinical_service.js'%}"></script>
{%endblock imports%} {% block content %}
<div class="col-sm-6 mx-auto">
	<div class="card">
		<div class="card-header bg-dark">
			Drug Out Form
		</div>
		<div class="card-body">
			<form action="" method="POST">
				<div
					class="form-group font-weight-bold text-secondary text-capitaliz"
					id="service-group"
				>
					{%csrf_token%} {{drug_out_form}}

					<div class="form-control">
						<input type="submit" value="Save" class="btn btn-md btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-sm-6 mx-auto">
	<div class="card">
		<div class="card-header bg-dark">
			Drug Out Cash Deposit
		</div>
		<div class="card-body">
			<div class="form-group font-weight-bold text-secondary text-capitalize">
				<form action="drugoutcashdeposit" method="POST">
					{%csrf_token%} {{drug_cash_deposit_form}}
					<input
						type="submit"
						value="Deposit"
						class="btn-md btn-primary form-control"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
