
{% extends 'stock/stock_home.html' %} {%load static %}  {% block title %}Drug In Form{% endblock title %}
{% block content %}
<div class="col-sm-6 mx-auto">
  <div class="card ">
    <div class="card-header bg-dark">
        Drug In Form
    </div>
    <div class="card-body">
      <div class="form-group font-weight-bold text-secondary text-capitalize">
        <form action="" method="POST">
          {% csrf_token %} 
          {{drug_in_form}}
          <div class="form-control">
          <input
            type="submit"
            value="Save"
            class="btn btn-md btn-primary"
          />
          </div>
        </form>
        <span class"form-control">
          <i class="text-success">
            {% for message in messages%}
              {{message}}
            {% endfor %}
            </i>
        </span>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
